.wp-block-themezee-star-rating {
	.themezee-components-star-icon-button {
		margin: 0;
		padding: 0;
		border: none;
		color: inherit;
		background: inherit;
		font: inherit;
		height: auto;
		border-radius: 0;
		box-shadow: none;
		transition: none;

		&:hover,
		&:active,
		&:focus {
			color: inherit;
			box-shadow: none;
		}

		&:disabled {
			opacity: 1;
		}
	}
}
